body {
  background: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  
  background-color: white;
  margin: 0px;
}
.navbar ul {
  overflow: auto;
}
.navbar li {
  float: left;
  list-style: none;
  padding: 10px;
  margin: 5px;
}
.navbar li a {
  padding: 15px;
  text-decoration: none;
  color: rgb(4, 4, 4);
  
}
.navbar li a:hover {
  color: rgb(0, 77, 179);
}
.search {
  float: right;
  color: white;
  padding: 13px;
}
.navbar input {
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px;
}
h2 {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 25px 350px;
  text-decoration: none;
  text-size-adjust: 10px;
}
h2 a {
  text-decoration: none;
  color: black;
}
h2 a:hover {
  color:rgb(35, 94, 255);
  
}
